:root {
  --dark-color: #19191b;
  --gray-color: #696871;
  --purple-color: #5454d4;
  --orande-color: #ff7143;
}

html {
  scroll-padding: 100px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-block: 30px;
  background-color: #fff;
  top: 0;
}

[class$="container"] {
  max-width: 1069px;
  background-color: antiquewhite;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 49px;
}

ul {
  list-style: none;
}

.header__list-link {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.47px;
  color: var(--gray-color);
  transition: color 0.3s;
}

.header__list-link:hover {
  color: var(--dark-color);
}

a {
  text-decoration: none;
}

.header__button,
.hero__button {
  font-weight: 700px;
  font-size: 17px;
  letter-spacing: -0.53px;
  color: #fff;
  padding: 19px 59px;
  border-radius: 10px;
  transition: 0.3s;
}

.header__button {
  background-color: var(--orande-color);
}

.header__button:hover,
.hero__button:hover {
  opacity: 70%;
}

main {
  margin-top: 141px;
}

.hero {
  padding-block: 70px;
}

.hero__container {
  position: relative;
}

.hero__image {
  position: absolute;
  top: 0;
  right: -75px;
}

.hero__content {
  padding-top: 92px;
  width: 459px;
}

.hero__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.5px;
  color: var(--dark-color);
  margin-bottom: 30px;
}

.hero__desc {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.63px;
  color: var(--gray-color);
}

.hero__buttons {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.hero__button {
  background-color: var(--purple-color);
}

.hero__scroll {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
}

.companies {
  padding-block: 30px;
}
.companies__container {
}
.companies__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features {
  padding-block: 120px;
}
.features__content {
  display: flex;
  flex-direction: column;
  gap: 69px;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature__image {
}
.feature__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 459px;
}
.feature__title {
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -1.56px;
  line-height: 57px;
}
.feature__desc {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  letter-spacing: -0.63px;
  line-height: 30px;
}
.feature__link {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.63px;
  color: var(--purple-color);
}

.feature__link:hover {
  text-decoration: underline;
}

.mini-features {
  padding-block: 32px;
}
.mini-features__container {
}
.mini-feature {
}
.mini-feature__header {
}
.mini-feature__image {
}
.mini-feature__title {
}
.mini-feature__desc {
}
