:root {
  --dark-color: #191918;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.header {
  padding-block: 30px;
}

.header__container {
  max-width: 1069px;
  background-color: antiquewhite;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 49px;
}

ul {
  list-style: none;
}

.header__list-link {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.47px;
  color: var(--dark-color);
}

a {
  text-decoration: none;
}
